<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
      <ion-back-button defaultHref="amigos" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Novo Amigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Input with value -->
  <ion-item color="light">
    <ion-label position="stacked">Nome:</ion-label>
    <ion-input #nome></ion-input>
  </ion-item>
  
  <ion-item color="light">
    <ion-label position="stacked">Email:</ion-label>
    <ion-input #email></ion-input>
  </ion-item>
  
  <ion-item color="light">
    <ion-label position="stacked">Telefone:</ion-label>
    <ion-input #telefone type="number" value="nivel"></ion-input>
  </ion-item>
  
  <ion-button shape='block' color="dark" (click)="adicionar(user)">Salvar</ion-button>
  </ion-content>
  
