<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>Selecionar Amigos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list #lista>
    <!-- | async-->
    <ion-item-sliding *ngFor="let user of usuarios">
      
      <ion-item>
        <ion-checkbox color="dark"></ion-checkbox>
        <div style="zoom: 3;">
          <ion-icon name="person-circle-outline" large></ion-icon>
        </div>
        <ion-label>
          
          <h2><b>{{ user.name }}</b></h2>
          
          <p>{{ user.email }}</p>
        </ion-label>
  
        <ion-label style="text-align: left;">
          {{ user.telefone }}
        </ion-label>
      </ion-item>
    </ion-item-sliding>

  </ion-list>
  <ion-button shape='block' color="dark" (click)="call_selecionar_produtos()">Proximo</ion-button>
</ion-content>
